
node_modules/
out/
javaext/.gradle/
javaext/build/
dist
*.class

javaext/com.spotbugs.analyzer/target/

javaext/com.spotbugs.runner/target/

server/com.spotbugs.runner-0.0.1.jar

*.jar
!javaext/.mvn/wrapper/maven-wrapper.jar
*.tsbuildinfo

**/dependency-reduced-pom.xml
