.vscode/**
.vscode-test/**
src/**
test-fixtures/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
javaext/**
scripts/**
.github/**
out/client/**
out/server/**
out/**/test/**
**/*.map
